body {
    color:rgb(146, 146, 169);
    background:black;
    font-family: "Protest Guerrilla", sans-serif;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color:rgb(146, 146, 169);
}

section{
    background:rgb(47, 0,   29);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
